:root {
  --background: #ffff;
  --foreground: #171717;
  
}




html,
body {
  font-family: 'Inter', 'Poppins', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
 
 
 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body {
  color: var(--foreground);
  background: var(--background);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
 margin: 0 100px 0px 100px;
}

* {
  box-sizing: border-box;
   padding: 0;
   /* border: 1px solid black; */
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media(max-width:480px){
  main{
      margin: 0 20px 0px 20px;

  }
}