.productFilterSection{
    
    height:auto;
   
    
   
}
.productFilterDiv{
    
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.productFilterDiv button{
    
    cursor: pointer;
    border: none;
    outline: none;
}

.filterDiv{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 20px;

}
.itemNumbers{
    font-weight: 600;
    text-transform: uppercase;
}

.filterToggleButton{
   
    color: #777;
   background: transparent;
   text-decoration: underline;
   display: inline-flex;
   align-items: center;
}

.recommendedButton{
    position: relative;
    background: transparent;
   display: inline-flex;
   align-items: center;
   gap: 5px;
   font-weight: 600;

}

.recommendedFilterList{
    position: absolute;
    top: 100%;
    right: 0%;
    width: auto;
    background-color: transparent;
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    text-align: right;
    padding: 10px;

}
.mobileFilter{
    display: none;
    border-right: 1px solid #777;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    
    
}

.dividerLine{
    margin-right: calc(-100px);
    margin-left: calc(-100px);
}

.productSidebarcombo{
    display: inline-flex;
}
.recommendedWrapper {
  position: relative;
  display: inline-block;
}

.recommendedButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.checkIcon {
  float: right;      
  color:black;      
  font-size: 12px;    
}

.sortDropdown {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  min-width: 160px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10;
}

.sortOption {
  padding: 8px 12px;
  cursor: pointer;
}

.sortOption:hover {
  background-color: #f2f2f2;
}

.selected {
  font-weight: bold;
  background-color: #e6e6e6;
}


@media(max-width:600px){
    .filterDiv{
        gap:5px;
        font-size: 13px;
    }
    .recommendedButton{
        font-size: 13px;
    }

}

@media(max-width:480px){
    .filterDiv{
        display: none;
    }
    .mobileFilter{
        display: inline-flex;
       
    }

}
